<h2>Bem vindo a Inns</h2>

<div class="btn-menu">
  <%@cities.each do |inn|%>
  <%= button_to  "#{inn.city}", search_inns_path, params: {query_city: "#{inn.city}"}, method: :get %>
  <% end %>
</div>

<div class = "row">
  <h3>Pousadas Recentes</h3>
  <%@inns.last(3).each do |inn|%>
    <div class = "col-4">
      <h3><%=link_to inn.brand_name, inn_path(inn.id) %></h3>
      <dl>
        <dt>Cidade: </dt>
        <dd><%=inn.city %></dd>
      </dl>
      </div>
    <% end %>
    
</div>

<div class="row">
  <h3>Pousadas</h3>
  <%@inns.each do |inn|%>
    <% if inn.presence_in(@inns.last(3))  %>
    
    <% else %>
      <div class="col4">
        <h4><%=link_to inn.brand_name, inn_path(inn.id) %></h4>
        <dl>
          <dt>Cidade: </dt>
          <dd><%=inn.city %></dd>
        </dl>
      </div>
      <% end %>
  <% end %>
</div>
