<h2><%=@inn.brand_name%> Rating: <%=@nota%></h2>

<div class="row">
  <% @avaliations.each do |avaliation| %>
    <div class="col-4">
      <h5>Avaliação</h5>
      Quarto: <%= avaliation.reservation.room.name %>
      Nota: <%= avaliation.rate %> <br>
      <%= avaliation.text %>
    </div>
    <% end %>
    <%= link_to  "Voltar", inn_path(@inn) %>
</div>