<h2><%=@inn.brand_name%></h2>

<div class="detalhado">
  <dl>
      <dt>Telefone: </dt>
      <dd><%=@inn.phone%></dd>
      <dt>E-mail: </dt>
      <dd><%=@inn.email%></dd>
      <dt>Endereço completo:</dt>
      <dd><%=@inn.full_address%></dd>
      <dt>CEP:</dt>
      <dd><%=@inn.cep%></dd>
      <dt>Formas de Pagamento:</dt>
      <dd><%=@inn.payment_options%></dd>
      <dt>Aceita Animais:</dt>
      <dd><%=@inn.pets%></dd>
      <dt>Horarios:</dt>
      <dd>Chekc-in: <%=@inn.check_in.strftime("%H:%M")%></dd>
      <dd>Chekc-out: <%=@inn.check_out.strftime("%H:%M")%></dd>
      <dt>Politicas:</dt>
      <dd><%=@inn.policies%></dd>
      <dt>Descrição:</dt>
      <dd><%=@inn.description%></dd>      
    </dl>
</div>

<div class = "quartos">
  <h3>Quartos</h3>
  <%@rooms.each do |room|%>
      <dl>
        <dt><%=link_to room.name, new_room_reservation_path(room.id)%></dt>
        <dt>Descrição:</dt>
        <dd><%=room.description%> </dd>
        <dt>Tamanho:</dt>
        <dd><%=room.dimension%> m²</dd>
        <dt>Capacidade:</dt>
        <dd><%=room.capacity%></dd>
        <dt>Preço padrão:</dt>
        <dd><%=room.default_price%></dd>
        <dt>Banheiro:</dt>
        <dd><%=room.bathroom%></dd>
        <dt>Varanda:</dt>
        <dd><%=room.balcony%></dd>
        <dt>Ar-condicionado:</dt>
        <dd><%=room.air_conditioning%></dd>
        <dt>Tv:</dt>
        <dd><%=room.tv%></dd>
        <dt>Guarda roupa:</dt>
        <dd><%=room.wardrobe%></dd>
        <dt>Cofre:</dt>
        <dd><%=room.safe%></dd>
        <dt>Acesso a PCD:</dt>
        <dd><%=room.pcd%></dd>
      </dl> 
  <% end %>
</div>