
<% if @reservation.finish? %>
<h2>Reserva Cod: <%= @reservation.code %></h2>
<div>
  Quarto: <%= @reservation.room.name %>
  Check-in: <%= @reservation.check_in.entry %>
  Check-out: <%= @reservation.check_out.exit %>
  Valor Total: <%= @reservation.check_out.total %>
  <% if @reservation.avaliation.nil?  %>
  <%= link_to  "Fazer uma avaliação", new_reservation_avaliation_path(@reservation.id) %>
  <% else %>
  <p>Avaliação: <br>
  Nota: <%= @reservation.avaliation.rate%> <br>
  <%= @reservation.avaliation.text%>
  </p>
  <% if @reservation.avaliation.answer.present?%>
    <%= @reservation.room.inn.brand_name %>:  <%= @reservation.avaliation.answer.text %>
  <% end %>
  <% end %>
</div>

<% else %>
<h3>Essa reserva ainda não foi finalizada.</h3>
<%= link_to  "Voltar", my_reservations_path %>
<% end %>


