<h2>Check-Out da reserva <%= @reserva.code %> </h2>

<div class = "card_reservas">
  Quarto: <%= @reserva.room.name %>
  Data de entrada: <%= @reserva.check_in.entry %>
  Data de saída: <%= @saida %>
  Número de hóspedes: <%= @reserva.guest_number %>
  Status: <%= @reserva.status %>
  Formas de pagamento: <%=@reserva.room.inn.payment_options %>
  Total: <%= @total %>
</div>

<%= form_with(model: [@reserva, @check_out] )  do |f| %>
  <%= f.label :payment_methods, 'Forma de pagamento'%>
  <%= f.text_field :payment_methods%>
  <%= f.label :total, 'Total'%>
  <%= f.number_field :total, value: @total, readonly: true%>
  <%= f.label :exit, 'Saída'%>
  <%= f.time_field :exit, value: @saida, readonly: true%>
  <%= f.submit 'Confirmar Check-out' %>
      <% end %>
</div> 