<h2>Check-Out da reserva <%= @reserva.code %> </h2>

<div class = "card_reservas">
  Quarto: <%= @reserva.room.name %>
  Data de entrada: <%= @reserva.check_in.entry %>
  Data de saída: <%= @check_out.exit %>
  Número de hóspedes: <%= @reserva.guest_number %>
  Status: <%= @reserva.status %>
  Formas de pagamento: <%=@reserva.room.inn.payment_options %>
  Total: <%= @total %>
</div>

<%= form_with  do |f| %>
  <%= f.label :payment_methods%>
  <%= f.text_field :payment_methods%>
  <%= f.label :exit%>
  <%= f.time_field :exit, value: @check_out.exit, readonly: true%>
  <%= f.submit 'Continuar com Check-out' %>
      <% end %>
</div> 