<h2>Check-Out da reserva <%= @reserva.code %> </h2>

<div class = "card_reservas">
  Quarto: <%= @reserva.room.name %>
  Data de entrada: <%= @reserva.check_in.entry %>
  Data de saída: <%= Time.now %>
  Número de hóspedes: <%= @reserva.guest_number %>
  Status: <%= @reserva.status %>
</div>

<%= form_with(model: [@resevation, @check_out]) do |f| %>
  <%= f.label :payment_methods%>
  <%= f.text_field :payment_methods%>
  <%= f.label :exit%>
  <%= f.time_field :exit, value: Time.now, readonly: true%>
  <%= f.submit 'Continuar com Check-out' %>
      <% end %>
</div> 